<div>
    <nav>
    <div class="logo">FOODIE APP</div>
    <ul>
        <li><a href="home">HOME</a></li>
    </ul>
</nav>

<section><br>
        <p>
        <b>Who are we?</b><br>
        Our technology platform connects customers, restaurant partners and delivery partners, <br>
        serving their multiple needs. Customers use our platform to search and discover restaurants, <br>
        read and write customer generated reviews and view and upload photos, order food delivery, <br>
        book a table and make payments while dining-out at restaurants. On the other hand, <br>
        we provide restaurant partners with industry-specific marketing tools which enable them to engage and <br>
        acquire customers to grow their business while also providing a reliable and efficient last mile delivery service.<br> 
        We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and<br> 
        kitchen products to restaurant partners. We also provide our delivery partners with transparent and<br> 
        flexible earning opportunities.
        </p>
</section>
</div>
