img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
} 

.foodbox 
{
    padding: 10px 10px;
} 
.foodbox img
{
    width: 90%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.navbar{
    position: fixed;
}
button{
    margin-left: 20px;
}

.navigation{
   
    border: 2px solid gray;
    height: 80px;
}


